[top]
convention = Sasquan
start = 2015-08-19
goh = Brad Foster, David Gerrold, Vonda N. McIntyre, Tom Smith, Leslie Turek

[input files]
schedule = program_07-30-2015.xml

[input file importer]
reader = sasquan-grenadine-xml

[output files text]
schedule = schedule.txt
xref = xref.txt

[output files html]
schedule = schedule.html
xref = xref.html
grid = grid.html

[output files xml]
schedule = schedule.xml
xref = xref.xml

[output files indesign]
grid = grid.txt

# output format - This is a schema or template for the schedule portion of the
# book. Note that interstitial white space (tab, space, line break) is
# significant, and will be carried through to the output, but leading and
# trailing white space (including leading white space on a continuation line)
# will be eaten by the config parser.
[output format]
schedule = index	day time duration	level room
	   title
	   description
	   participants
#	   tags

# Prune participants from the output. The two defined options are:
# * type: a list of 'type' or 'format' fields, as used in the input file
# * title: a list of strings that a 'title' field might start with
[output prune]
title = Reading - , Autographing - , Kaffee Klatche - , Concert: , Guinan\'s Cabaret Concert:

############################ BEGIN HOTEL ############################
# complete list of rooms in use, in presentation order
# "name" is as it is stored in the database
# "pubsname" is as it appears in the pocket program
# "usage" is for fixed-function rooms

# 'venue' is an alias for 'level'
[venue CC]
pubsname = CC
rooms = 201A, 201B, 201C, 202A-KK1, 202A-KK2, 202B-KK3, 202B-KK4, 202C, 203,
        205, 206A, 206BCD, 207, 300A, 300B, 300C, 300D, 301, 302AB, 303A, 303B,
	304, 401C, Bays 111A, Bays 111B, Bays 111C, Breezeway/Statue,
	Conference Theater 110, Hall A - Art Show, Hall A - Art Show Tour,
	Hall A - Artist/Author Alley, Hall A - Dealers Room, Hall B,
	Hall B - Site Selection, Hall C, Hall C - Exhibits Tour,
	Hall C - Fan Exhibits, Hall C - Fanzine Lounge, Hall C - Flex Space,
	Hall C - Guinan's Place, #'
	Hall C - Literary Beer, Hall C - Maker/3-D Printing,
	Hall D (Riverside Lobby), INB Performing Arts Center,
	Integra Telecom Ballroom 100A, Integra Telecom Ballroom 100B, Park

[venue Doubletree]
pubsname = DBT
rooms = 12th Floor, 15th floor - Presidental Suite, Grand Ballroom: Salon I,
	Grand Ballroom: Salon II, Grand Ballroom: Salon III,
	Grand Ballroom: Salon IV, Shades Conference Room,
	Spokane Falls Suite A/B, Spokane Falls Suite C, Spokane Falls Suite D

[venue Davenport]
pubsname = DAV
rooms = Hall of the Doges, Marie Antoinette Ballroom, Suite 819

[venue Grand]
rooms = Cedar Ballroom

[venue Park]
rooms = King Cole Footbridge, Lilac Bowl, Meadow

############################# END HOTEL #############################

############################# BEGIN GRID #############################
# Grid page layout for InDesign
# measurements are in inches
[grid indesign]
# table size - size of the InDesign text frame in which the table resides.
# 8.0" x 13.2898" is a letter page with 0.25" margins and 0.2102" for the day
# header.
table width = 8.0
table height = 13.2898
# header row (time) height
header height = 0.1955
# header col (room) width
header width = 1.0284
# min/max cell height when table are not bounded to the configured table height
minimum cell height = 0.3
maximum cell height = 0.5
# policy for printing empty rows - values include:
# never: only print active rooms; table size is variable
# major: print "major" rooms; table size is fixed
print empty rooms = never

# Grid slicing for InDesign
# Note that 'Friday Late Night' is squarely within calendar Saturday.
# The code does not yet validate that slices are contiguous and complete.
[grid slice indesign 1]
name = Early Morning
start = 1:00am
end = 10:00am

[grid slice indesign 2]
name = Morning
start = 10:00am
end = 3:00pm

[grid slice indesign 3]
name = Afternoon
start = 3:00pm
end = 8:00pm

[grid slice indesign 4]
name = Evening
start = 8:00pm
end = 1:00am

# Grid layout for html - many fewer options
[grid html]
print empty rooms = never

[grid slice html 1]
name = Morning
start = 6:00am
end = 12:00pm

[grid slice html 2]
name = Afternoon
start = 12:00pm
end = 6:00pm

[grid slice html 3]
name = Evening
start = 6:00pm
end = 12:00am

[grid slice html 4]
name = Late Night
start = 12:00am
end = 6:00am
############################## END GRID ##############################

# Sorting keys for participants with an unhyphenated double last name,
# or a name with unicode, or anything else that needs special handling.
[sort name]
Donald Eastlake 3rd = Eastlake Donald
Patrick Nielsen Hayden = Nielsen Hayden Patrick
Teresa Nielsen Hayden = Nielsen Hayden Teresa
Nick Kanas M.D. = Kanas Nick
Dominick D'Aunno MD = D'Aunno Dominick

# change names in participant listing, mostly to remove titles
[change name]

# manual overrides to name-bolding in bios
[bold name]

# change room name
# better done in zambia, but this doesn't require a data pull
[change room]

# change session title
# better done in zambia if possible
[change title]

# change participants in both the schedule and the xref
# really better done in zambia
[change participants]

# don't print participants in the schedule (indesign only)
# these sessions will still appear in the xref
[no participants]

# sessions that don't need a description
[no description]

# sessions that don't need to be printed at all
# better to set status to "do not print" in zambia
[do not print]

# featured events and panels
[featured]
